<div *ngIf="album" class="row">
	<div class="col-lg-6 col-md-6">
		<div class="portada">
			<img *ngIf="album.image && album.image != 'null'" src="{{this.userService.userUrl + 'get-album-image/' + album.image}}" class="artista">
		</div>
		<div class="row">
			<div class="ccol-lg-6 col-md-6 col-sm-6">
				<p>{{album.title}}</p>
				<p>{{album.description}}</p>
				<p>{{album.year}}</p>
			</div>
			<div class="ccol-lg-6 col-md-6 col-sm-6">
				<a [routerLink]="['/nuevaCancion', album._id]" class="btn btn-info">Añadir Canción</a>
			</div>
		</div>
	</div>
	<div id="albums" *ngIf="songs" class="col-lg-5 col-md-5" style="margin-left: 1em;">
		<!--listar albums-->
		<div *ngFor="let song of songs" class="row">
			<div class="row no-margin">
				<p class="col-sm-3 col-md-3">{{song.number}}</p>
				<a class="col-sm-3 col-md-3" [routerLink]="['/home']">{{song.name}}</a>
				<p class="col-sm-3 col-md-3">{{song.duration}}</p>
				<a class="col-sm-3 col-md-3" [routerLink]="['/home']">By: {{song.album.artist.name}}</a>
				<a class="btn btn-info" [routerLink]="['/home']">✔</a>
			  	<a class="btn btn-danger" (click)=eliminar(song._id)>✕</a>
		  </div>
	</div>
</div>

</div>