<div style="width: 60%; margin: 0 auto;">
	<h1>{{titulo}}</h1>

	<form ngNativeValidate (ngSubmit)="updateAlbum()" #artistForm="ngForm" class="col-md-10">
		
		<div class="form-group">
			<label for="title">Titulo: </label>
	    <input #title="ngModel" [(ngModel)]="album.title" type="text" name="title" class="form-control" required/>
	    <!--alert de validación-->
	    <span [hidden]="title.valid || title.pristine" class="form-control alert alert-danger">
	      Titulo es requerido
	    </span>
	  </div>
	  <div class="form-group">
	    <label for="description">Descripción: </label>
	    <textarea #description="ngModel" [(ngModel)]="album.description" name="description" class="form-control" required></textarea>
	    <!--alert de validación-->
	    <span [hidden]="description.valid || description.pristine" class="form-control alert alert-danger">
	      Descripción es requerida
	    </span>
	  </div>
	  <div class="form-group">
			<label for="year">Año: </label>
	    <input #year="ngModel" [(ngModel)]="album.year" type="text" name="year" class="form-control" required/>
	    <!--alert de validación-->
	    <span [hidden]="year.valid || year.pristine" class="form-control alert alert-danger">
	      Año es requerido
	    </span>
	  </div>
	  <div class="form-group">
	    <div *ngIf="album.image && album.image != 'null'">
	      <img src="{{this.userService.userUrl + 'get-album-image/' + album.image}}" style="width: 100px;" />
	    </div>
	    <label for="">Sube la portada</label>
	    <input type="file" name="image" (change)="fileChangeEvent($event)">
	  </div>

	  <input type="submit" class="btn btn-success" [disabled]="!artistForm.form.valid" value="Actualizar">
	</form>

</div> 